<a href="/archive" class="banner">Curious? See today's email <i class="icon-right-big"></i></a>

<div class="hero">
  <h1>Get smiles in <br class="mobile-only">your inbox</h1>
  <form>
    <input id="emailInput" type="email" placeholder="Your email address">
    <button id="subscribeBtn"><i class="icon-right-big"></i></button>
  </form>
  <h1>every day.</h1>
</div>

<div class="hero-bg"></div>

<script type="text/javascript">

</script>
