<div class="header-spacer"></div>

<div class="unsubscribe-main">
  <p>Are you sure you want to stop receiving our emails?</p>
  <br>
  <form>
    <button id="unsubscribeBtn" class="unsubscribe-btn" data-id="{{id}}">No more emails, please!</button>
  </form>
  <br>
  <p>If you need help, reach out to us via email:</p>
  <br>
  <p class="purple"><a href="mailto://support@sparkthecause.com">support@sparkthecause.com</a></p>
</div>
